<form [formGroup]="form">
  <div class="field">
    <input formControlName="name" placeholder="Name" />
  </div>
  <div class="field">
    <input formControlName="email" placeholder="E-mail" />
  </div>
  <div formGroupName="address">
    <div class="field">
      <input formControlName="city" placeholder="City" />
    </div>
    <div class="field">
      <input formControlName="country" placeholder="Country" />
    </div>
  </div>
  <label>
    <input type="checkbox" formControlName="terms" />
    I agree to the <a href="#">terms and conditions</a>
  </label>
  <div>
    <button>Submit</button>
  </div>
</form>

{{ form.value | json }}
{{ form.errors | json }}
